*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	background-color: #3D1766;
	color: #FFEEFF;
	height: 100vh;
	background: rgb(61,23,102);
	background: linear-gradient(0deg, rgba(46,1,94,1) 0%, rgba(61,23,102,1) 100%);
}

section{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
	font-size: 30px;
	margin: 80px 0px 20px 0px;
}

button{
	width: 250px;
	margin: 5px 0px 5px 0px;
	background-color: #6F1AB6;
	color: #FFEEFF;
	border: none;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.2s;
}

button:hover{
	filter: brightness(1.2);
}

button[disabled]{
	filter: brightness(50%);
	cursor: default;
}

#recording-status, #play-status{
	margin-top: 15px;
	font-size: 20px;
}

#recording-status{
	display: none;
}

#play-status{
	display: none;
}

footer{
  position: absolute;
  padding: 4px 0px 4px 0px;
  bottom: 0;
  width: 100%;
  background-color: #370d5b;
  color: #FFEEFF;
  text-align: center;
}

footer a{
	color: #FFEEFF;
}

.container-status{
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6F1AB6;
  color: #FFEEFF;
  width: 240px;
	padding: 5px;
	font-size: 20px;
	border-radius: 3px;
	margin: 5px 0px 5px 0px;
}

#recording-status, #play-status{
	margin-right: 5px;
	align-items: center;
	margin: 0px 5px 0px 0px;
}